DB_PATH=/path/to/TransitOps_Odoo2026/backend/database/transitops.db
JSON_PATH=/path/to/TransitOps_Odoo2026/backend/app/db/init/dummy_data.json
SECRET_KEY = "SUPER_SECRET_COMPROMISED_HACKATHON_KEY_CHANGE_THIS"